<div [@flyInOut]="freeBalloons" class="balloon">
  <div class="string"></div>
</div>
<div [@flyInOut]="freeBalloons" class="balloon">
  <div class="string"></div>
</div>
<div [@flyInOut]="freeBalloons" class="balloon">
  <div class="string"></div>
</div>
<div [@flyInOut]="freeBalloons" class="balloon">
  <div class="string"></div>
</div>
<div [@flyInOut]="freeBalloons" class="balloon">
  <div class="string"></div>
</div>
<div [@flyInOut]="freeBalloons" class="balloon">
  <div class="string"></div>
</div>

