<nb-layout>

  <nb-layout-header class="headerForPage">
    <div @fadeIn>
      <h1>
        <nb-icon icon="star" class="icons"></nb-icon>
        Well would you look at that, It's Your Birthday!!
        <nb-icon icon="star" class="icons"></nb-icon>
      </h1>
    </div>
  </nb-layout-header>

  <div *ngIf="lightsAreOn">
    <app-lights></app-lights>
  </div>

  <nb-layout-column>
      <div *ngIf="balloonsAreHung" class="containerLeft">
        <app-balloons></app-balloons>
      </div>
  </nb-layout-column>

  <nb-layout-column>
    <!--  Without the lights, we can't move forward so this is separate from the rest of the toggles that are in the container  -->
    <div [@lightsOn]="lightsAreOn ? 'on' : 'off'" class="my_toggles">
      <button nbButton outline status="info" (click)="turnOnLights()">Turn The Lights On!</button>
    </div>
    <!--  This container only appears if the lights come on  -->
    <div *ngIf="lightsAreOn" class="containerMid">
      <div [@balloonsUp]="balloonsAreHung ? 'up' : 'down'">
        <button nbButton outline status="info" (click)="hangBalloons()">Place Balloons!</button>
      </div>
      <div *ngIf="balloonsAreHung">
        <button [@fadeInOut]="cakePlaced ? 'out' : 'in'" nbButton outline status="success" (click)="placeCake()">Place Cake</button>
      </div>
      <div *ngIf="balloonsAreHung" @fadeInOut class="cakeContainer">
        <div *ngIf="cakePlaced" @fadeIn>
          <app-cake></app-cake>
        </div>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-column>
    <div *ngIf="balloonsAreHung" class="containerRight">
      <app-balloons></app-balloons>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
