.headerForPage, .icons {
  font-size: x-large;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Caveat', cursive;
}

button {
  margin: 0;
}

.containerMid {
  height: 450px;
  position: relative;
}

.containerLeft {
  height: 200px;
  position: relative;
}

.containerRight {
  transform: rotateY(180deg);
  position: relative;
}

.cakeContainer {
  bottom: 5px;
}

.my_toggles {
  margin: 0;
  top: 50%;
}
